body {
  background-image: url("../img/chevron.gif");
  background-repeat: repeat; }

.page-wrap {
  min-height: 100%;
  margin-bottom: -90px; }

.page-wrap:after {
  content: "";
  display: block; }

footer, .page-wrap:after {
  height: 90px; }

.social {
  float: left; }
